<div class="container">
    <button mat-stroked-button>Return</button>
    <div class="card-update" *ngIf="isExisted">
        <mat-card>
            <mat-grid-list cols="1" rowHeight="300px">
                <mat-grid-tile>
                    <mat-card class="card-image">
                        <img mat-card-image src="../../assets/default.png" width="200" alt="Photo of a default">
                    </mat-card>
                </mat-grid-tile>
                <mat-grid-tile>
                    <form class="form-card" [formGroup]="cardForm" (ngSubmit)="updateCard()">
                        <p>
                            <mat-form-field appearance="standard">
                                <mat-label>Name</mat-label>
                                <input matInput type="text" required formControlName="name">
                                <mat-icon matSuffix>label</mat-icon>
                            </mat-form-field>
                        </p>
                        <p>
                            <mat-form-field appearance="standard">
                                <mat-label>Owner</mat-label>
                                <input matInput type="text" required formControlName="owner">
                                <mat-icon matSuffix>person</mat-icon>
                            </mat-form-field>
                        </p>
                        <p>
                            <mat-form-field appearance="standard">
                                <mat-label>For Sale</mat-label>
                                <input matInput type="number" required formControlName="price">
                                <mat-icon matSuffix>sell</mat-icon>
                            </mat-form-field>
                        </p>
                        <div class="sbm-btn">
                            <button type="submit" mat-flat-button color="primary" *ngIf="!cardForm.controls.isSold.value">UPDATE COLLECTIBLE</button>
                            <button mat-flat-button color="primary" *ngIf="cardForm.controls.isSold.value" disabled="true">SOLD</button>
                        </div>

                    </form>
                </mat-grid-tile>
              </mat-grid-list>


        </mat-card>
    </div>

    <div class="card-create" *ngIf="!isExisted">
        <app-card-create [cardId]="cardId"></app-card-create>
    </div>
</div>
