.container {
    width: 900px;
}

.card-container {
    max-width: 900px;
}

.card-buy {
    transition: transform 1s;
}

.collectible-card {
    width: 200px;
    max-height: 400px;
    cursor: pointer;
    transition: all 1s;
}

.collectible-card-img {
    transition: all 1s;
}

.collectible-card:hover {
    .collectible-card-img {
        transform: scale(1.1);
    }
    .card-buy {
        animation: flip 0.5s;
    }
}

.card-grid {
    margin-top: 15px;
}

.title-name {
    text-align: center;
}

.owner-name {
    text-align: center;
}

.card-buy-btn {
    text-align: center;
}

.filter-group {
    margin-top: 15px;
    .filter-label {
        cursor: pointer;;
    }
    .filter-label:hover {
        color: #1976d2;
    }
    .filter-label-active {
        color: lightblue;
    }
    
}

@keyframes flip {
    15% {
        transform: rotateY(30deg);
    }
    30% {
        transform: rotateY(90deg);
    }
    45% {
        transform: rotateY(150deg);
    }
    60% {
        transform: rotateY(210deg);
    }
    75% {
        transform: rotateY(270deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}

